
<!-- Inside of a group -->

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Futiba Club</title>

    <!-- Font Awesome -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap -->

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->

    <link href="/css/mdb.min.css" rel="stylesheet">

    <!-- Your Custom Styles -->

    <link href="/css/style.css" rel="stylesheet">

    <link href="/css/futiba-interno.css" rel="stylesheet">

</head>

<body>

<header>

    <nav class="navbar navbar-expand-lg navbar-light green fixed-top scrolling-navbar">

        <div class="container">

            <a class="navbar-brand" href="/">
                <img src="/img-futiba-club/logo.png" height="30" alt="Futiba Club">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                    aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent-7">

                <% include partials/menu %>

            </div> <!-- Navbar Collapse -->

        </div> <!-- Container -->

    </nav> <!-- Navbar -->

</header> <!-- Header -->

<section class="content">

    <div class="container">

        <div class="row">
            <h4><%= group.name %></h4>
        </div>

        <% if (users.length > 0) { %>
        <table class="table table-striped text-center">

            <thead>
            <tr>
                <th>Nome</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
            </thead>

            <tbody>
            <% users.forEach( userItem => { %>
            <tr>
                <td>
                    <%= userItem.name %>
                </td>
                <td style="text-transform: capitalize;"><%= userItem.role %></td>
                <td>
                    <% if (isOwner[0] && isOwner[0].user_id == user.id) { %>
                    <a class="btn btn-sm btn-primary" href="/admin/grupos/<%= group.id %>/aceitar/<%= userItem.user_id %>"> <!-- Id of that relation groups -> users -->
                        Permitir
                    </a>

                    <a class="btn btn-sm btn-danger" href="/admin/grupos/<%= group.id %>/negar/<%= userItem.user_id %>">
                        Negar
                    </a>
                    <% } %>
                </td>
            </tr>
            <% })%>

            </tbody>

        </table>
        <% } else { %>
        <p style="font-weight: bold">Nenhum usuário pendente.</p>
        <% } %>

        <div class="row">
            <h3>Adivinhar</h3>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>Partida</th>
                    <th>Pontuação</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <% games.forEach((game) => { %>
                <tr>
                    <form action="/admin/adivinhacoes" method="post">
                        <td>
                            <input type="hidden" name="game" value="<%= game.id %>"/>
                            <input type="hidden" name="group" value="<%= group.id %>"/>
                            <div class="row text-center" style="padding-left: 20px">
                                <input type="number" min="1" name="result_a" value="<%= (game.adivinhacao.result_a ? game.adivinhacao.result_a : 0) %>"
                                       class="form-control col-md-2" style="display: inline-block"/>
                                <p class="col-md-4" style="margin-top: 20px;">
                                    <%= game.team_a %>
                                    <span style="font-weight: bold">x</span>
                                    <%= game.team_b %>
                                </p>
                                <input type="number" min="1" name="result_b" value="<%= (game.adivinhacao.result_b ? game.adivinhacao.result_b : 0) %>"
                                       class="form-control col-md-2"  style="display: inline-block"/>
                            </div>
                        </td>
                        <td>
                            <%= (game.adivinhacao.score ? game.adivinhacao.score : 0)%>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-primary">Dar palpite</button>
                            <a href="#" class="btn btn-sm btn-default btn_show_modal_comentarios"
                               data-toggle="modal" data-target="#modal_comentarios">Comentários</a>
                        </td>
                    </form>
                </tr>
                <% }) %>

                </tbody>
            </table>
        </div>

    </div> <!-- Container -->

    <div class="modal fade" id="modal_comentarios" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Comentários</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-md-12">
                        <form action="" method="post">
                            <div class="md-form">
                                <i class="fa fa-comment prefix grey-text"></i>
                                <input type="text" class="form-control" name="name">
                                <label for="orangeForm-name">Comentário:</label>
                            </div>
                            <div class="md-form">
                                <button type="submit" class="btn btn-sm btn-primary">
                                    <i class="fa fa-save"></i> &nbsp;
                                    Salvar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Voltar</button>
                </div>
            </div>
        </div>
    </div>

</section> <!-- Content -->

<!-- JQuery -->

<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Tool Tips -->

<script type="text/javascript" src="/js/popper.min.js"></script>

<!-- Bootstrap Core Js -->

<script type="text/javascript" src="/js/bootstrap.min.js"></script>

<!-- Mdb Code Js -->

<script type="text/javascript" src="/js/mdb.min.js"></script>

<script type="text/javascript">

    const montarListaComentarios = (comentarios) => {
        const elementosHtmlDeComentarios = comentarios.map(item => {
            return `
                <div class="col-md-12 border " style="padding: 5px; margin-bottom: 10px">
                        <p class="text-justify">${item.comentario}</p>
                        <span class="font-bold">
                            <i class="fa fa-user-circle"></i>
                               ${item.user.name}
                        </span>
                </div>`
        }).join("");

        $("#modal_comentarios .modal-body").append(elementosHtmlDeComentarios);

    }

    class ComentarioService {

        constructor() {
            this._url = "http://localhost:3000/admin/adivinhacoes/1/comentarios";
        }

        getComentarios() {
            $.ajax({ url: this._url, method: "GET", success: function(datas) {
                    console.log(datas);
                    montarListaComentarios(datas);
                }
            })
        }

        save(comentario) {

        }

    }

    const $btnModalComentarios = $(".btn_show_modal_comentarios");

    $btnModalComentarios.click(function(event) {
        new ComentarioService().getComentarios();
    });



</script>
</body>

</html>
